<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">bitnami</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping resource="com/hieulm/model/BO/Dienthoai.hbm.xml"></mapping>
		<mapping resource="com/hieulm/model/BO/Hangsx.hbm.xml"></mapping>
		<mapping resource="com/hieulm/model/BO/Hedieuhanh.hbm.xml"></mapping>
		<mapping resource="com/hieulm/model/BO/Hinhanh.hbm.xml"></mapping>
		<mapping resource="com/hieulm/model/BO/Taikhoan.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>